/* ACCORDION */

.accordion {
  border: 2px solid rgba(146, 158, 172, 0.3);
  box-sizing: border-box;
  border-radius: 20px;
  padding: 16px 32px;
  max-width: 830px;
  margin: 0 auto 24px;
  @media screen and (max-width: 1024px) {
    margin: 0 auto 8px;
    padding: 16px 24px;
  }
  &.active {
    background: var(--white);
    border: 2px solid var(--white);
    box-shadow: 0px 10px 30px rgba(0, 37, 132, 0.06);
  }
  &__button {
    padding: 0 64px 0 0;
    position: relative;
    font-family: inherit;
    color: var(--porpoise);
    background: none;
    cursor: pointer;
    width: 100%;
    text-align: left;
    outline: none;
    transition: color 400ms ease;
    font-weight: 500;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -0.05em;
    @media screen and (max-width: 1024px) {
      font-size: 20px;
      line-height: 25px;
    }
    &:hover {
      color: var(--primaryDark);
      @media screen and (max-width: 1024px) {
        color: var(--porpoise);
      }
    }
    &:after {
      content: "\02795";
      font-size: 20px;
      position: absolute;
      right: 0;
      top: 0;
      color: transparent;
      text-shadow: 0 0 0 var(--porpoise);
      transition: all 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }
  }

  &.active .accordion__button {
    &:after {
      text-shadow: 0 0 0 var(--primary);
      transform: rotate(45deg);
    }

    color: var(--primary);
  }

  &__panel {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: 300ms ease-out;
    p strong {
      color: var(--porpoise);
    }
    p,
    ul {
      padding-bottom: 16px;
      font-size: 16px;
      line-height: 20px;
      margin: 0;
      text-align: left;
      color: var(--porpoise);
    }
    ul {
      list-style: disc;
      padding-left: 24px;
      li {
        margin-bottom: 8px;
        p {
          padding-bottom: 0;
        }
      }
    }
    > *:first-child {
      padding-top: 24px;
    }
  }
}

/* SEARCH */

.search {
  max-width: 500px;
  width: 100%;
  background: linear-gradient(180deg, #fbfcff 0%, #ffffff 100%);
  border: 1px solid rgba(69, 92, 147, 0.1);
  box-shadow: 0px 2px 0px rgba(69, 92, 147, 0.1);
  border-radius: 45px;
  display: flex;
  margin: 72px auto 80px;
  @media screen and (max-width: 1024px) {
    margin: 8px auto 32px;
  }
  span {
    width: 100%;
  }
  &__icon {
    margin: auto 16px auto 16px;
    width: 24px;
    height: 24px;
    object-fit: contain;
  }
  &__input {
    color: var(--primary);
    width: 100%;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    padding: 14px 8px 16px;
    border: none;
    background: transparent;
    text-overflow: ellipsis;
    &::placeholder {
      color: var(--porpoise);
      opacity: 0.5;
    }
  }
  &__clear {
    visibility: hidden;
    margin: auto 16px auto 16px;
    width: 24px;
    height: 24px;
    cursor: pointer;
  }
}

.search-illustration {
  max-width: 250px;
  margin-top: 64px;
}
