@font-face {
  font-family: "Euclid Circular B";
  src: url("../assets/fonts/EuclidCircularB-Regular-WebS.eot");
  src: url("../assets/fonts/EuclidCircularB-Regular-WebS.eot?#iefix")
      format("embedded-opentype"),
    url("../assets/fonts/EuclidCircularB-Regular-WebS.woff2") format("woff2"),
    url("../assets/fonts/EuclidCircularB-Regular-WebS.woff") format("woff"),
    url("../assets/fonts/EuclidCircularB-Regular-WebS.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Euclid Circular B";
  src: url("../assets/fonts/EuclidCircularB-Medium-WebS.eot");
  src: url("../assets/fonts/EuclidCircularB-Medium-WebS.eot?#iefix")
      format("embedded-opentype"),
    url("../assets/fonts/EuclidCircularB-Medium-WebS.woff2") format("woff2"),
    url("../assets/fonts/EuclidCircularB-Medium-WebS.woff") format("woff"),
    url("../assets/fonts/EuclidCircularB-Medium-WebS.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Euclid Circular B";
  src: url("../assets/fonts/EuclidCircularB-SemiBold-WebS.eot");
  src: url("../assets/fonts/EuclidCircularB-SemiBold-WebS.eot?#iefix")
      format("embedded-opentype"),
    url("../assets/fonts/EuclidCircularB-SemiBold-WebS.woff2") format("woff2"),
    url("../assets/fonts/EuclidCircularB-SemiBold-WebS.woff") format("woff"),
    url("../assets/fonts/EuclidCircularB-SemiBold-WebS.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Euclid Circular B";
  src: url("../assets/fonts/EuclidCircularB-Bold-WebS.eot");
  src: url("../assets/fonts/EuclidCircularB-Bold-WebS.eot?#iefix")
      format("embedded-opentype"),
    url("../assets/fonts/EuclidCircularB-Bold-WebS.woff2") format("woff2"),
    url("../assets/fonts/EuclidCircularB-Bold-WebS.woff") format("woff"),
    url("../assets/fonts/EuclidCircularB-Bold-WebS.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
