/* PRESS CARD */

.button--press {
    display: flex;
    margin: 40px auto 0;
    padding: 14px 32px;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: fit-content;
    color: var(--white);
    background-color: var(--primary);
    transition: transform 300ms cubic-bezier(0.34, 1.56, 0.64, 1);
    @media screen and (max-width: 1024px) {
      padding: 8px 24px;
    }
    &:hover {
      transform: scale(1.08);
      color: var(--white);
    background-color: var(--primaryDark);
    }
    .icon {
      height: 32px;
      width: 32px;
      margin-right: 8px;
      margin-left: -8px;
    }
    &.large {
      span {
        padding-right: 8px;
      }
    }
  }

.press-illustration {
  max-width: 540px;
  margin: 80px auto 0;
}
