/* TEAM CARDS */

.team-card {
  background: var(--white);
  align-items: center;
  border: 2px solid var(--lightSalt);
  box-sizing: border-box;
  border-radius: 10px;
  color: var(--porpoise);
  padding: 24px;
  display: flex;
  flex-direction: column;
  max-width: 540px;
  margin: 0 auto;
  transition: box-shadow 300ms ease-in-out, border 200ms ease-in-out;
  @media screen and (max-width: 1024px) {
    flex-direction: row;
    margin-bottom: 16px;
  }
  &--hoverable:hover {
    box-shadow: 0px 10px 30px rgba(0, 19, 69, 0.1);
    border: 2px solid var(--white);
    .website {
      color: var(--primary);
    }
  }
  &--self-aligned {
    align-self: start;
    .team-card__icon {
      width: 200px;
      @media screen and (max-width: 1024px) {
        width: 150px;
        height: 90px;
      }
    }
  }
  &__icon {
    height: 120px;
    width: 120px;
    margin: 0 auto 30px;
    @media screen and (max-width: 1024px) {
      margin: 0 24px 0 0;
    }
  }
  &__content {
    .title {
      font-weight: bold;
      text-align: left;
      font-size: 16px;
      line-height: 20px;
      margin-bottom: 8px;
    }
    .content {
      text-align: left;
      font-size: 12px;
      line-height: 16px;
    }
    .website {
      color: var(--darkGray);
      margin-top: 16px;
      font-size: 12px;
      line-height: 16px;
      font-weight: bold;
      text-decoration: underline;
      transition: color 300ms ease;
    }
  }
  &.highlight {
    flex-direction: row;
    width: 100%;
    margin: 40px auto 80px;
    padding: 24px 32px;
    @media screen and (max-width: 1024px) {
      flex-direction: column;
    }
    .team-card__icon {
      height: 120px;
      width: auto;
      margin: auto;
    }
    .team-card__content {
      margin-left: 30px;
      @media screen and (max-width: 1024px) {
        margin: 0;
      }
      .title {
        font-size: 22px;
        line-height: 30px;
        margin-bottom: 16px;
      }
      .content {
        font-size: 16px;
        line-height: 20px;
        text-align: left;
        margin-bottom: 20px;
      }
    }
  }
}

.collabs-wrapper {
  display: grid;
  gap: 40px;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 80px;
  @media screen and (max-width: 1024px) {
    display: flex;
    flex-direction: column;
  }
  &:last-child {
    margin-bottom: 0;
  }
  &.four-rows {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
