/* VARIABLES */

:root {
  --white: #fff;
  --grayWhite: #f6f9ff;
  --lightBlue: #e9efff;
  --primaryDark: #3831df;
  --primary: #5751ff;
  --primaryLight: #4a43f5;
  --darkGray: #2f4f75;
  --denim: #182b57;
  --porpoise: #495d74;
  --coin: #929eac;
  --cloud: #b6bec7;
  --salt: #dbdfe3;
  --lightSalt: #edeff1;
}

/* IMPORTS */

@import "~bulma/sass/utilities/_all.sass";
@import "~bulma/sass/base/_all.sass";
@import "~bulma/sass/layout/_all.sass";
@import "~bulma/sass/elements/container.sass";

@import "fonts";
@import "typography";
@import "layout";
@import "elements";
@import "select";
@import "navbar";
@import "hamburger";
@import "features";
@import "privacy";
@import "faq";
@import "press";
@import "download";

/* GENERIC STYLES */

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
  &::after,
  &::before {
    box-sizing: border-box;
  }
  &:focus {
    outline: none;
  }
}

html {
  background-color: var(--grayWhite);
  @media screen and (min-width: 1408px) {
    background: var(--primary);
  }
}

body {
  background-color: var(--grayWhite);
}

body {
  overflow-x: hidden;
}

img {
  width: 100%;
  max-width: 100%;
}

button {
  border: none;
}

.table-wrapper {
  overflow-x: scroll;
  table {
    margin: 16px auto 32px;
    overflow-x: scroll;
    overflow: scroll;
    max-width: 100%;
    @media screen and (max-width: 768px) {
      min-width: 960px;
    }
    &.last {
      margin-bottom: 0;
    }
  }
}

table,
th,
td {
  padding: 8px;
  border: 1px solid var(--darkGray);
}

/* HELPERS */

.revealer {
  visibility: hidden;
  &.staggered {
    visibility: visible;
    > div {
      visibility: hidden;
    }
  }
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

/* AVOID FOUC */

html {
  visibility: visible;
  opacity: 1;
}
