<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
      html {
        visibility: hidden;
        opacity: 0;
      }
    </style>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Immuni - Informativa privacy</title>
    <meta
      name="Description"
      content="Ripartiamo insieme - Tornare a vivere normalmente è possibile. Immuni ci aiuta a farlo prima e senza rinunciare alla privacy."
    />
    <!-- Twitter Card data -->
    <meta
      name="twitter:card"
      value="Ripartiamo insieme - Tornare a vivere normalmente è possibile. Immuni ci aiuta a farlo prima e senza rinunciare alla privacy."
    />
    <!-- Open Graph data -->
    <meta property="og:title" content="Immuni - Privacy notice" />
    <meta
      property="og:description"
      content="Tornare a vivere normalmente è possibile. Immuni ci aiuta a farlo prima e senza rinunciare alla privacy."
    />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="www.immuni.italia.it" />
    <meta
      property="og:image"
      content="<%= require('../assets/img/og-image.png') %>"
    />
    <!-- Mobile header color for Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#5751ff" />
    <!-- Mobile header color Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#5751ff" />
    <!-- Mobile header color for iOS Safari (supports black, black-translucent or default) -->
    <meta name="apple-mobile-web-app-status-bar-style" content="default" />
  </head>

  <body>
    <section class="section press froster">
      <div class="container">
        <div class="has-text-centered">
          <h1 class="intro">
            Informativa privacy
          </h1>
          <p class="smaller">
            Informativa resa ai sensi degli articoli 13-14 del Regolamento (UE)
            2016/679 (General Data Protection Regulation - GDPR)
          </p>
        </div>
        <img
          src="<%= require('../assets/img/policy-illustration.png') %>"
          alt="Illustration of a woman reading a document"
          class="press-illustration"
        />
      </div>
    </section>
    <section class="section small-padding is-legal">
      <div class="container container--align-left">
        <p class="smaller">
          Ultimo aggiornamento: 1 giugno 2020.
        </p>
        <h3 class="legal">
          Come funziona Immuni in cinque passaggi
        </h3>
        <p>
          <strong>L’app associa a ogni dispositivo un codice casuale</strong>
        </p>
        <p class="smaller">
          Il codice è generato in modo casuale e non contiene informazioni
          identificative dell’utente e del suo dispositivo. Inoltre, il codice
          associato a ciascun dispositivo cambia diverse volte ogni ora, per
          tutelare al meglio la privacy.
        </p>
        <p>
          <strong
            >I dispositivi che si incontrano si scambiano i rispettivi codici
            casuali</strong
          >
        </p>
        <p class="smaller">
          Quando un utente entra in contatto con un altro utente di Immuni, i
          dispositivi si scambiano i rispettivi codici tramite Bluetooth Low
          Energy. L’app riesce così a tenere traccia del contatto avvenuto, ma
          non può conoscere le identità degli utenti, né sapere dove si sono
          incontrati.
        </p>
        <p>
          <strong
            >Chi risulta positivo sceglie se condividere i propri codici
            casuali</strong
          >
        </p>
        <p class="smaller">
          Gli utenti che sono risultati positivi al virus possono caricare su un
          server, con la collaborazione di un operatore sanitario, i codici
          casuali che i loro dispositivi hanno trasmesso nei giorni precedenti,
          in modo da renderli disponibili a tutti i dispositivi che hanno l’app
          installata, senza che questo consenta l’identificazione diretta degli
          utenti positivi.
        </p>
        <p>
          <strong
            >Ogni dispositivo verifica se ha incontrato in precedenza uno o più
            dei codici condivisi</strong
          >
        </p>
        <p class="smaller">
          Immuni controlla periodicamente i codici presenti sul server e li
          confronta con quelli salvati sul dispositivo dell’utente. In questo
          modo determina se l’utente sia stato esposto a un potenziale contagio.
        </p>
        <p>
          <strong>In caso di corrispondenza, l'utente viene avvertito</strong>
        </p>
        <p class="smaller">
          Qualora Immuni rilevi che il dispositivo su cui è installata ha avuto
          un contatto stretto con il dispositivo di un soggetto risultato
          positivo al SARS-CoV-2 (il virus che provoca il COVID-19) avverte l’utente e gli dice che cosa fare.
          Immuni procede sulla base del semplice rilevamento della prossimità e
          non tiene conto delle eventuali misure di protezione individuali
          adottate dagli utenti.
        </p>
        <p class="smaller">
          Riesce a fare tutto questo senza raccogliere informazioni sugli
          spostamenti degli utenti o sulle persone che questi hanno incontrato.
        </p>
        <h3 class="legal">1. Titolare del trattamento</h3>
        <p class="smaller">
          Il Ministero della Salute, in qualità di Titolare del trattamento
          (“Titolare”) dei dati personali raccolti nell’ambito del sistema di
          allerta COVID-19 , costituito da una piattaforma unica nazionale per
          la gestione dell’allerta dei soggetti che hanno installato, su base
          volontaria, l’applicazione Immuni (“Immuni” o “App”), informa l’utente
          di quanto segue.
        </p>
        <h3 class="legal">2. Finalità del trattamento</h3>
        <p class="smaller">
          I dati personali verranno utilizzati al fine di allertare gli utenti
          che hanno avuto un contatto a rischio con altri utenti risultati
          positivi al SARS-CoV-2 (il virus che provoca il COVID-19) e tutelarne
          la salute attraverso le misure di prevenzione previste nell’ambito
          delle iniziative di sanità pubblica legate all’emergenza COVID-19,
          come previsto dall’articolo 6 del decreto-legge del 30 aprile 2020, n.
          28. Inoltre, i dati potranno essere utilizzati, in forma aggregata e
          anonima, per soli fini di sanità pubblica, profilassi, statistici o di
          ricerca scientifica.
        </p>
        <h3 class="legal">3. Base giuridica</h3>
        <p class="smaller">
          I dati sono trattati ai sensi dell’art. 6 del decreto-legge del 30
          aprile 2020, n. 28, in conformità agli articoli 6, co. 1. lett. e, e
          9, co. 2 lett. i e j, del Regolamento (UE) 2016/679, e agli articoli 2-ter
          e 2-sexies del Codice in materia di protezione dei dati personali (D.
          Lgs 196/2003 e s.m.i.).
        </p>
        <h3 class="legal">4. Tipologia di dati</h3>
        <p class="smaller">
          Per impostazione predefinita, i dati personali raccolti dall’App non
          consentono l’identificazione diretta dell’utente, o del suo
          dispositivo, e sono esclusivamente quelli necessari ad avvisarlo di
          essere stato esposto a un rischio di contagio, nonché ad agevolare
          l’eventuale adozione di misure di prevenzione e assistenza sanitaria.
          In nessun caso saranno tracciati gli spostamenti degli utenti,
          escludendo quindi ogni forma di geolocalizzazione.
        </p>
        <p class="smaller">
          Nell’ambito del sistema di allerta COVID-19, saranno trattati i
          seguenti dati con riferimento alle diverse categorie di soggetti
          interessati.
        </p>
        <p class="smaller">
          Per tutti gli utenti dell’App verranno trattati i dati di seguito
          indicati per le finalità appresso specificate:
        </p>
        <p style="text-align: center;"><b>Tabella A</b></p>
        <div class="table-wrapper">
          <table>
            <tbody>
              <tr>
                <td class="td1">
                  <p class="smaller">
                    <span class="s1"><strong>Dato</strong></span>
                  </p>
                </td>
                <td class="td2">
                  <p class="smaller">
                    <span class="s1"><strong>Definizione</strong></span>
                  </p>
                </td>
                <td class="td1">
                  <p class="smaller">
                    <span class="s1"><strong>Finalit&agrave;</strong></span>
                  </p>
                </td>
                <td class="td2">
                  <p class="smaller">
                    <span class="s1"><strong>Conservazione</strong></span>
                  </p>
                </td>
              </tr>
              <tr>
                <td class="td3">
                  <p class="smaller">
                    <span class="s1">Provincia di domicilio</span>
                  </p>
                </td>
                <td class="td4">
                  <p class="smaller">
                    <span class="s1"
                      >La provincia indicata dall’utente durante la prima
                      configurazione dell'App.</span
                    >
                  </p>
                </td>
                <td class="td3">
                  <p class="smaller">
                    <span class="s1"
                      >La provincia di domicilio permette al Ministero della
                      Salute di monitorare lo sviluppo dell’epidemia.</span
                    >
                  </p>
                </td>
                <td class="td4">
                  <p class="smaller">
                    <span class="s1"
                      >Fino alla cessazione dello stato di emergenza e comunque
                      non oltre il 31 dicembre 2020.</span
                    >
                  </p>
                </td>
              </tr>
              <tr>
                <td class="td5">
                  <p class="smaller">
                    <span class="s1">Indicatori di corretto funzionamento</span>
                  </p>
                </td>
                <td class="td6">
                  <p class="smaller">
                    <span class="s1"
                      >Indicatori che rivelano se l’App sta funzionando
                      correttamente (ad esempio, il fatto che il Bluetooth sia
                      attivo).</span
                    >
                  </p>
                </td>
                <td class="td5">
                  <p class="smaller">
                    <span class="s1"
                      >Gli indicatori permettono di correggere eventuali difetti
                      nel funzionamento dell’App che impedirebbero di avvertire
                      gli utenti in caso di rischio di contagio.</span
                    >
                  </p>
                </td>
                <td class="td6">
                  <p class="smaller">
                    <span class="s1"
                      >Fino alla cessazione dello stato di emergenza e comunque
                      non oltre il 31 dicembre 2020.</span
                    >
                  </p>
                </td>
              </tr>
              <tr>
                <td class="td7">
                  <p class="smaller">
                    <span class="s1">Token temporanei </span>
                  </p>
                </td>
                <td class="td8">
                  <p class="smaller">
                    <span class="s1"
                      >Un codice temporaneo generato in modo casuale dai
                      dispositivi degli utenti.
                    </span>
                  </p>
                </td>
                <td class="td7">
                  <p class="smaller">
                    <span class="s1"
                      >I token temporanei permettono all’App di validare gli
                      indicatori di corretto funzionamento e gli altri dati
                      statistici inviati dall’App.</span
                    >
                  </p>
                </td>
                <td class="td8">
                  <p class="smaller"><span class="s1">Fino a 2 mesi.</span></p>
                </td>
              </tr>
              <tr>
                <td class="td9">
                  <p class="smaller"><span class="s1">Indirizzo IP</span></p>
                </td>
                <td class="td10">
                  <p class="smaller">
                    <span class="s1"
                      >L'indirizzo IP che il dispositivo utilizza per
                      connettersi ad internet.</span
                    >
                  </p>
                </td>
                <td class="td9">
                  <p class="smaller">
                    <span class="s1"
                      >L&rsquo;indirizzo IP &egrave; necessario per far
                      comunicare i dispositivi con il server
                      dell&rsquo;App.</span
                    >
                  </p>
                </td>
                <td class="td10">
                  <p class="smaller">
                    <span class="s1"
                      >Non viene conservato nell’ambito del sistema di allerta
                      COVID-19.</span
                    >
                  </p>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <p class="smaller">
          In aggiunta ai dati elencati sopra e raccolti per tutti gli utenti
          dell’App, per i soli utenti esposti al rischio di contagio verranno
          trattati i dati di seguito indicati per le finalità appresso
          specificate:
        </p>

        <p style="text-align: center;"><b>Tabella B</b></p>
        <div class="table-wrapper">
          <table>
            <tbody>
              <tr>
                <td class="td1">
                  <p class="smaller">
                    <span class="s1"><strong>Dato</strong></span>
                  </p>
                </td>
                <td class="td1">
                  <p class="smaller">
                    <span class="s1"><strong>Definizione</strong></span>
                  </p>
                </td>
                <td class="td1">
                  <p class="smaller">
                    <span class="s1"><strong>Finalit&agrave;</strong></span>
                  </p>
                </td>
                <td class="td1">
                  <p class="smaller">
                    <span class="s1"><strong>Conservazione</strong></span>
                  </p>
                </td>
              </tr>
              <tr>
                <td class="td2">
                  <p class="smaller">
                    <span class="s1">Ricezione notifica di esposizione</span>
                  </p>
                </td>
                <td class="td2">
                  <p class="smaller">
                    <span class="s1"
                      >Il fatto che l&rsquo;utente &egrave; stato avvertito di
                      un contatto a rischio avuto in precedenza.</span
                    >
                  </p>
                </td>
                <td class="td2">
                  <p class="smaller">
                    <span class="s1"
                      >Questo dato permette di stimare quanti utenti vengono
                      avvertiti dall’App di un potenziale rischio di contagio,
                      senza poter risalire alla loro identità, e permette al
                      Servizio Sanitario Nazionale di predisporre le iniziative
                      e le risorse necessarie per prendersi cura degli utenti
                      che hanno ricevuto la notifica.</span
                    >
                  </p>
                </td>
                <td class="td2">
                  <p class="smaller">
                    <span class="s1"
                      >Fino alla cessazione dello stato di emergenza e comunque
                      non oltre il 31 dicembre 2020.</span
                    >
                  </p>
                </td>
              </tr>
              <tr>
                <td class="td3">
                  <p class="smaller">
                    <span class="s1"
                      >Data dell&rsquo;ultimo contatto a rischio</span
                    >
                  </p>
                </td>
                <td class="td3">
                  <p class="smaller">
                    <span class="s1"
                      >Il giorno in cui è avvenuto l'ultimo contatto a
                      rischio.</span
                    >
                  </p>
                </td>
                <td class="td3">
                  <p class="smaller">
                    <span class="s1"
                      >Questo dato permette di stimare quando potrebbero
                      manifestarsi eventuali sintomi e quindi permette al
                      Servizio Sanitario Nazionale di predisporre le iniziative
                      e le risorse necessarie per prendersi cura degli utenti
                      che sono stati avvertiti del rischio di contagio.</span
                    >
                  </p>
                </td>
                <td class="td3">
                  <p class="smaller">
                    <span class="s1"
                      >Fino alla cessazione dello stato di emergenza e comunque
                      non oltre il 31 dicembre 2020.</span
                    >
                  </p>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <p class="smaller">
          In aggiunta ai dati raccolti per tutti gli utenti dell’App ed elencati
          in Tabella A, per i soli utenti risultati positivi al SARS-CoV-2
          verranno trattati i dati di seguito indicati per le finalità appresso
          specificate:
        </p>
        <p style="text-align: center;"><b>Tabella C</b></p>
        <div class="table-wrapper">
          <table class="last">
            <tbody>
              <tr>
                <td class="td1">
                  <p class="smaller">
                    <span class="s1"><strong>Dato</strong></span>
                  </p>
                </td>
                <td class="td2">
                  <p class="smaller">
                    <span class="s1"><strong>Definizione</strong></span>
                  </p>
                </td>
                <td class="td1">
                  <p class="smaller">
                    <span class="s1"><strong>Finalit&agrave;</strong></span>
                  </p>
                </td>
                <td class="td1">
                  <p class="smaller">
                    <span class="s1"><strong>Conservazione</strong></span>
                  </p>
                </td>
              </tr>
              <tr>
                <td class="td3">
                  <p class="smaller">
                    <span class="s2"
                      >Chiavi di esposizione (Temporary Exposure Key -
                      TEK)</span
                    >
                  </p>
                </td>
                <td class="td4">
                  <p class="smaller">
                    Le chiavi temporanee di esposizione con cui il dispositivo
                    dell’utente ha generato i codici casuali (Rolling Proximity
                    Identifier - RPI) inviati, fino a un massimo di 14 giorni
                    precedenti, ai dispositivi con cui l’utente è entrato in
                    contatto.
                  </p>
                </td>
                <td class="td3">
                  <p class="smaller">
                    Consente di avvertire del rischio di contagio gli utenti che
                    sono entrati in contatto nei giorni precedenti con l’utente
                    risultato positivo senza che l’App possa risalire alla loro
                    identità, né al luogo dove il contatto è avvenuto.
                  </p>
                </td>
                <td class="td3">
                  <p class="smaller"><span class="s1">14 giorni.</span></p>
                </td>
              </tr>
              <tr>
                <td class="td5">
                  <p class="smaller">
                    <span class="s1"
                      >Indicatori di rischio di precedenti contatti</span
                    >
                  </p>
                </td>
                <td class="td6">
                  <p class="smaller">
                    Gli indicatori che permettono di stimare il livello di
                    rischio del contatto avuto con un altro utente risultato
                    positivo al virus (ad esempio, la durata del contatto).
                  </p>
                </td>
                <td class="td5">
                  <p class="smaller">
                    Questi indicatori permettono al Ministero della Salute di
                    rendere più accurato il modello con cui l'App decide se un
                    contatto è sufficientemente a rischio da far scattare una
                    notifica.
                  </p>
                </td>
                <td class="td5">
                  <p class="smaller">
                    <span class="s1"
                      >Fino alla cessazione dello stato di emergenza e comunque
                      non oltre il 31 dicembre 2020.</span
                    >
                  </p>
                </td>
              </tr>
              <tr>
                <td class="td7">
                  <p class="smaller"><span class="s1">OTP</span></p>
                </td>
                <td class="td8">
                  <p class="smaller">
                    Una combinazione di sblocco di 10 caratteri generata
                    dall’App.
                  </p>
                </td>
                <td class="td7">
                  <p class="smaller">
                    La combinazione va dettata dall’utente risultato positivo
                    all’operatore sanitario che la utilizzerà per permettere
                    all’utente di caricare volontariamente le chiavi di
                    esposizione e gli indicatori di rischio.
                  </p>
                </td>
                <td class="td7">
                  <p class="smaller">
                    <span class="s1">Fino a 2 minuti e 30 secondi.</span>
                  </p>
                </td>
              </tr>
              <tr>
                <td class="td9">
                  <p class="smaller">
                    Data di comparsa dei sintomi o di prelievo del tampone
                  </p>
                </td>
                <td class="td10">
                  <p class="smaller">
                    Il giorno in cui l’utente ha sviluppato sintomi compatibili
                    con il COVID-19 o, in caso di utente asintomatico, la data
                    del prelievo del tampone.
                  </p>
                </td>
                <td class="td9">
                  <p class="smaller">
                    La data va comunicata all’operatore sanitario insieme al
                    codice OTP. L’App avvertirà soltanto gli utenti che siano
                    entrati in contatto con l’utente positivo a ridosso della
                    comparsa dei sintomi o del prelievo del tampone per ridurre
                    al minimo i falsi allarmi.
                  </p>
                </td>
                <td class="td9">
                  <p class="smaller">
                    Fino alla cessazione dello stato di emergenza e comunque non
                    oltre il 31 dicembre 2020.
                  </p>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <h3 class="legal">5. Trasmissione/flusso dei dati</h3>
        <p class="smaller">
          Per le finalità descritte al punto 2, i dati di cui al punto 4 sono
          trattati come segue.
        </p>
        <ul>
          <li>
            <p class="smaller">
              Ogni 10 minuti Immuni genera un codice casuale (Rolling Proximity
              Identifier - RPI) a partire dalla chiave di esposizione
              giornaliera (Temporary Exposure Key - TEK) e lo invia ai
              dispositivi vicini, raggiungibili via Bluetooth Low Energy,
              producendo uno scambio di codici casuali tra i dispositivi (vedi
              tabella A del punto 4).
            </p>
          </li>
          <li>
            <p class="smaller">
              In caso di positività al SARS-CoV-2, il Dipartimento di
              Prevenzione dell’ASL competente contatta il soggetto risultato
              positivo per raccogliere le necessarie informazioni e verifica se
              lo stesso abbia installato Immuni sul suo dispositivo. In caso
              affermativo, l’operatore sanitario gli chiederà di aprirla e di
              utilizzare la funzione di generazione del codice OTP. L’utente
              comunica i 10 caratteri del codice OTP all’operatore sanitario, il
              quale accede al sistema del Ministero della Salute con le
              credenziali in suo possesso e inserisce il codice OTP e la data di
              inizio dei sintomi o, nel caso l’utente sia asintomatico, la data
              di prelievo del tampone.
            </p>
          </li>
          <li>
            <p class="smaller">
              Solo nel caso in cui l’utente confermi sull’App (mediante un tap)
              l’intenzione di inviare le chiavi di esposizione, queste vengono
              inviate al server dell’App che, dopo aver verificato la
              correttezza del codice OTP, le mette a disposizione di tutti i
              dispositivi che hanno Immuni installata (vedi tabella C del punto
              4).
            </p>
          </li>
          <li>
            <p class="smaller">
              Durante il suo normale funzionamento, l’App procede a scaricare
              periodicamente dal server le chiavi di esposizione condivise
              volontariamente dagli utenti positivi, per confrontarle con i
              codici casuali registrati nei giorni precedenti come conseguenza
              dei contatti con altri utenti.
            </p>
          </li>
          <li>
            <p class="smaller">
              Se viene individuata una corrispondenza, l’App esegue sul
              dispositivo un algoritmo che, in base alla durata e alla distanza
              stimata del contatto, e sulla base dei criteri stabiliti dal
              Ministero della Salute, decide se visualizzare una notifica sul
              dispositivo dell’utente esposto al rischio di contagio,
              avvertendolo dell’avvenuto contatto, comunicando la data dello
              stesso e invitandolo a contattare il proprio medico di medicina
              generale o il pediatra di libera scelta.
            </p>
          </li>
          <li>
            <p class="smaller">
              Oltre ad avvisare l’utente esposto al rischio di contagio, l’App
              informa la piattaforma dell’avvenuto contatto, della data dello
              stesso e della provincia indicata dall’utente con modalità che non
              consentono l’identificazione diretta dell’utente stesso. Tali dati
              vengono trasmessi per finalità di sanità pubblica, statistica e di
              ricerca scientifica (vedi tabella B del punto 4).
            </p>
          </li>
          <li>
            <p class="smaller">
              Con cadenza mensile, vengono inviati al server dati statistici
              relativi al funzionamento dell’App, l’informazione se l’utente
              abbia ricevuto o meno una notifica di esposizione e la provincia
              di domicilio (vedi ancora la tabella A del punto 4). Questi dati
              non permettono alcuna identificazione diretta degli utenti e sono
              necessari per garantire l’ottimale funzionamento di Immuni.
            </p>
          </li>
        </ul>
        <h3 class="legal">6. Conservazione dei dati</h3>
        <p class="smaller">
          I dati sono conservati per i tempi indicati al punto 4 e comunque non
          oltre il 31 dicembre 2020. Entro la medesima data tutti i dati
          personali trattati saranno cancellati o conservati in forma anonima e
          aggregata.
        </p>
        <h3 class="legal">7. Soggetti abilitati ai trattamenti</h3>
        <p class="smaller">
          Ai dati potranno accedere esclusivamente soggetti autorizzati
          debitamente istruiti, anche con riguardo al rispetto delle misure di
          sicurezza e agli obblighi di riservatezza.
        </p>
        <p class="smaller">
          Il Titolare potrà inoltre avvalersi di soggetti abilitati ai suddetti
          trattamenti che tratteranno i dati in qualità di Responsabili del
          trattamento ai sensi dell’art. 28 del Regolamento (UE) 2016/679.
        </p>
        <h3 class="legal">8. Diritti dell’interessato</h3>
        <p class="smaller">
          In ogni momento, l’interessato può esercitare il diritto di
          opposizione di cui all’articolo 21 del Regolamento (UE) 2016/679 e far
          cessare il trattamento semplicemente disinstallando l’App. Le chiavi
          di esposizione saranno via via cancellate, al termine del
          quattordicesimo giorno di vita, anche sull’infrastruttura centrale.
          L’utente ha la possibilità in ogni momento di cancellare tutte le
          chiavi di esposizione e i codici casuali memorizzati sul proprio
          dispositivo utilizzando la funzione messa a disposizione dai
          produttori dei sistemi operativi iOS e Android.
        </p>
        <p class="smaller">
          In considerazione dell’impossibilità di identificare l’interessato,
          non saranno applicabili gli articoli dal 15 al 20 del Regolamento (UE)
          2016/679, relativi all’esercizio dei diritti degli interessati, in
          conformità a quanto previsto dall’articolo 11, co. 2, del medesimo
          Regolamento.
        </p>
        <p class="smaller">
          L’interessato ha inoltre il diritto di proporre reclamo al Garante per
          la protezione dei dati personali, in qualità di autorità di controllo,
          ai sensi dell’art. 77 del Regolamento (UE) 2016/679. In alternativa,
          può proporre reclamo presso l’Autorità Garante dello Stato dell’Unione
          Europea in cui risiede o abitualmente lavora oppure nel luogo dove si
          è verificata la presunta violazione.
        </p>
        <p class="smaller">
          L’interessato può esercitare i propri diritti con richiesta scritta
          inviata all'indirizzo postale della sede “Ministero della Salute -
          direzione generale della digitalizzazione, del sistema informativo
          sanitario e della statistica - viale Giorgio Ribotta, n. 5 - 00144,
          Roma”, all’indirizzo e-mail direzionesistemainformativo@sanita.it o
          tramite PEC a DGSI@postacert.sanita.it. Il Responsabile della
          protezione dei dati (RPD) può essere contattato all’indirizzo e-mail
          rpd@sanita.it.
        </p>
      </div>
    </section>
  </body>
</html>
