<!DOCTYPE html>
<html lang="it">

<head>
    <style>
        html {
            visibility: hidden;
            opacity: 0;
        }
    </style>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Immuni - Risorse Grafiche Ufficiali</title>
    <meta name="Description"
        content="Ripartiamo insieme - Tornare a vivere normalmente è possibile. Immuni ci aiuta a farlo prima e senza rinunciare alla privacy." />
    <!-- Twitter Card data -->
    <meta name="twitter:card"
        value="Ripartiamo insieme - Tornare a vivere normalmente è possibile. Immuni ci aiuta a farlo prima e senza rinunciare alla privacy." />
    <!-- Open Graph data -->
    <meta property="og:title" content="Immuni - Risorse Grafiche Ufficiali" />
    <meta property="og:description"
        content="Tornare a vivere normalmente è possibile. Immuni ci aiuta a farlo prima e senza rinunciare alla privacy." />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="www.immuni.italia.it" />
    <meta property="og:image" content="<%= require('../assets/img/og-image.png') %>" />
    <!-- Mobile header color for Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#5751ff" />
    <!-- Mobile header color Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#5751ff" />
    <!-- Mobile header color for iOS Safari (supports black, black-translucent or default) -->
    <meta name="apple-mobile-web-app-status-bar-style" content="default" />
    <script type="text/javascript">
        var _paq = window._paq = window._paq || [];
        /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function () {
            var u = "https://ingestion.webanalytics.italia.it/";
            _paq.push(['setTrackerUrl', u + 'matomo.php']);
            _paq.push(['setSiteId', 'XKqJ17LpYR']);
            var d = document, g = d.createElement('script'), s = d.getElementsByTagName('script')[0];
            g.type = 'text/javascript'; g.async = true; g.src = u + 'matomo.js'; s.parentNode.insertBefore(g, s);
        })();
    </script>
    <!-- End Matomo Code -->
</head>

<body>
    <nav class="navigation navigation--desktop">
        <a href="#section0">
            <img src="<%= require('../assets/img/logo.svg') %>" alt="Immuni Logo" class="navigation__logo" />
        </a>
        <div class="navigation__wrapper">
            <a href="/" data-i18n="navigation.home">Home</a>
            <a href="/funzionamento.html" data-i18n="navigation.funzionamento">Funzionamento</a>
            <a href="https://github.com/immuni-app/documentation/" target="_blank" rel="noopener noreferrer"
                data-i18n="navigation.documentation">Documentazione</a>
            <a href="/press.html" data-i18n="navigation.press">Sala stampa</a>
            <a href="/dashboard.html" data-i18n="navigation.dashboard">I numeri</a>
            <!-- <a href="/faq.html" data-i18n="navigation.faq"></a> -->
            <!-- <a href="/download.html" class="button nav-button" data-i18n="navigation.download">Scarica l'app</a> -->

            <select class="cs-select">
                <option value="it">Italiano</option>
                <option value="en">English</option>
                <option value="de">Deutsch</option>
                <option value="fr">Français</option>
                <option value="es">Español</option>
            </select>
        </div>
    </nav>
    <nav class="navigation navigation--mobile">
        <a href="/">
            <img src="<%= require('../assets/img/logo.png') %>" alt="Immuni Logo" class="navigation__logo" />
        </a>
        <div class="navigation__wrapper">
            <button class="hamburger hamburger--spring" type="button">
                <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                </span>
            </button>
        </div>
    </nav>
    <div class="menu-mobile">
        <div class="menu-mobile__overlay"></div>
        <ul class="menu-mobile__list">
            <li>
                <a href="/funzionamento.html" data-i18n="navigation.funzionamento">Funzionamento</a>

            </li>

            <li>
                <a href="https://github.com/immuni-app/documentation/" target="_blank" rel="noopener noreferrer"
                    data-i18n="navigation.documentation">Documentazione</a>
            </li>
            <li>
                <a href="/press.html" data-i18n="navigation.press">Sala stampa</a>
            </li>
            <li>
                <a href="/dashboard.html" data-i18n="navigation.dashboard">I numeri</a>
            </li>

        </ul>
        <ul class="menu-mobile__legal">
            <li class="legal-link">
                <select class="cs-select cs-select--mobile">
                    <option value="it">Italiano</option>
                    <option value="en">English</option>
                    <option value="de">Deutsch</option>
                    <option value="fr">Français</option>
                    <option value="es">Español</option>
                </select>
            </li>
            <li class="legal-link">
                <a href="/pn.html" data-i18n="footer.info.list.privacy">
                    Informativa privacy
                </a>
            </li>
            <li class="legal-link">
                <a href="/tou.html" data-i18n="footer.info.list.tos">
                    Termini di utilizzo
                </a>
            </li>
        </ul>
    </div>






    <section id="section1" class="section froster divider-bottom">
        <div class="container">
            <h1 class="tagline">
                <div class="text-wrapper revealer" data-i18n="home.feats.tagFunz">
                    Funzionamento
                </div>
            </h1>
            <h5 class="tagline">
                <div class="text-wrapper revealer" data-i18n="home.feats.tag">
                    Che cos'è Immuni
                </div>
            </h5>
            <h2>
                <div class="text-wrapper revealer" data-i18n="home.feats.title">
                    Uno strumento in più per spezzare la catena del contagio
                </div>
            </h2>
            <p class="revealer delayed" data-i18n="home.feats.content">
                Immuni è un'app creata per aiutarci a combattere l'epidemia di
                COVID-19. L'app sfrutta la tecnologia per avvertire gli utenti
                potenzialmente contagiati il prima possibile, anche quando sono
                asintomatici. Lo fa più efficientemente e con anticipo rispetto ai
                metodi alternativi.
            </p>
        </div>
        <svg class="section-divider section-divider__bottom" preserveAspectRatio="xMinYMin meet" viewBox="0 0 1440 197"
            fill="none" xmlns="http://www.w3.org/2000/svg">
            <path opacity="0.1" d="M0 197V144.5C0 144.5 297 0 720 0C1143 0 1440 147 1440 147V197H0Z" fill="#5751FF" />
            <path d="M720 50C1143 50 1440 197 1440 197H0C0 197 297 50 720 50Z" fill="#5751FF" />
        </svg>
    </section>
    <section class="section blue no-padding-bottom">
        <div class="container">
            <div class="feat-illustration" data-i18n="home.benefits.image">
                <img src="<%= require('../assets/img/feat-illustration-it.png') %>"
                    alt="Screenshot of the main Immuni App dashboard" />
            </div>
            <div class="feat-illustration--mobile">
                <img src="<%= require('../assets/img/feat-illustration-mobile-it.png') %>"
                    alt="Screenshot of the main Immuni App dashboard" />
            </div>

            <h5 class="tagline smaller white" data-i18n="home.benefits.tag">
                Perché installare Immuni
            </h5>
            <h2 class="light has-margin-bottom" data-i18n="home.benefits.title">
                Proteggiamo noi stessi e i nostri cari
            </h2>
            <div class="tiles-wrapper">
                <div class="tile windows">
                    <img src="<%= require('../assets/img/window-day-illustration.png') %>"
                        alt="Illustration of a woman at the window working with a laptop during the day"
                        class="window-illustration window-illustration--day" />
                    <p class="white" data-i18n="home.benefits.isolation">
                        Gli utenti potenzialmente contagiati possono isolarsi per evitare
                        di contagiare altri. Così facendo, aiutano a contenere l'epidemia
                        e a consentire un rapido ritorno alla normalità.
                    </p>
                    <img src="<%= require('../assets/img/window-night-illustration.png') %>"
                        alt="Illustration of a man at the window holding a toddler at night"
                        class="window-illustration window-illustration--night" />
                </div>
                <div class="tile old-people">
                    <img src="<%= require('../assets/img/old-people-illustration.png') %>"
                        alt="Illustration of an old couple smiling" class="old-people-illustration" />
                    <p class="white" data-i18n="home.benefits.oldPeople">
                        Venendo informati tempestivamente, gli utenti possono anche
                        contattare il proprio medico di base e ridurre così il rischio di
                        complicanze.
                    </p>
                </div>
            </div>
            <h5 class="tagline smaller white" data-i18n="home.tech.tag">
                Tecnologia
            </h5>
            <h2 class="light" data-i18n="home.tech.title">
                Innovazione al servizio della comunità
            </h2>
            <img src="<%= require('../assets/img/bluetooth-illustration.png') %>"
                alt="Illustration of a man and a women getting notified by the app that they are making contact with one another"
                class="tech-illustration" />
            <p class="white has-margin-bottom" data-i18n="home.tech.content">
                Utilizzando in modo innovativo la tecnologia Bluetooth, l’app invia
                una notifica a chi si è trovato a stretto contatto con un utente
                positivo al COVID-19, per avvertirlo del potenziale rischio di aver
                contratto il virus. Questo avviene senza raccogliere dati
                sull’identità o la posizione dell’utente.
            </p>
            <!-- <button class="button primary light">Scopri di più</button> -->
        </div>
    </section>





    <footer class="footer">
        <div class="container">
            <div class="footer__wrapper">
                <div class="footer__brand">
                    <img src="<%= require('../assets/img/logo-white.svg') %>" alt="Immuni Logo" class="footer__logo" />

                    <h4 class="list-title copyright">
                        © 2020 Presidenza del Consiglio dei Ministri
                    </h4>
                </div>
                <div class="footer__content">
                    <div class="list-wrapper">
                        <h4 class="list-title list-wrapper__title" data-i18n="footer.sitemap.title">
                            Sezioni
                        </h4>
                        <ul class="list-wrapper__list">
                            <li>
                                <a href="/" data-i18n="footer.sitemap.list.home">Home</a>
                            </li>
                            <li>
                                <a href="/funzionamento.html" data-i18n="navigation.funzionamento">Funzionamento</a>
                            </li>
                            <li>
                                <a data-i18n="footer.sitemap.list.documentation"
                                    href="https://github.com/immuni-app/documentation/" target="_blank"
                                    rel="noopener noreferrer">Documentazione</a>
                            </li>
                            <li>
                                <a href="/press.html" data-i18n="footer.sitemap.list.press">Sala stampa</a>
                            </li>
                            <li>
                                <a href="/dashboard.html" data-i18n="footer.sitemap.list.dashboard">I numeri</a>
                            </li>

                        </ul>

                    </div>
                    <div class="list-wrapper">
                        <h4 class="list-title list-wrapper__title" data-i18n="footer.info.title">
                            Informazioni
                        </h4>
                        <ul class="list-wrapper__list">
                            <li>
                                <a href="/tou.html" data-i18n="footer.info.list.tos">
                                    Termini di utilizzo
                                </a>
                            </li>
                            <li>
                                <a href="/pn.html" data-i18n="footer.info.list.privacy">
                                    Informativa privacy
                                </a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </footer>
</body>

</html>